version: "1"
services:
    - type: worker
      name: stellive-fanding-bot
      runtime: node
      region: singapore
      plan: free
      buildCommand: npm install
      startCommand: node index.js
      envVars:
          - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
            value: "true"
          - key: PUPPETEER_EXECUTABLE_PATH
            value: /usr/bin/chromium-browser
